.Navigation {
    margin-left: 62px;
    width: 158px;
    color: #80858b;
    margin-top: 56px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.ListNavi {
    list-style-type: none;
    min-width: 123px;
    /* min-height: 216px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.Linknavigation {
    /* margin-bottom: 40px; */
    cursor: pointer;
    text-decoration: none;
    color: #80858b;
}
.Linknavigation:hover {
    color: #7b61ff;
}

.NameList {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
}
.List {
    margin-bottom: 10px;
}

.search {
    text-align: center;
    padding: 1rem;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 0.4rem 1rem;
    /* font-size: 1.2rem; */
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: #f8f8f8;
}
.temp {
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
}
.City {
    margin-top: 20px;
}

