.FilmPage {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 77.7%;
    margin-right: 65px;
    height: 1010px;
}

.wrapper {
    display: flex;
    margin-bottom: 150px;
    /* flex-direction: row; */
}
.imgWrapper {
    height: 444px;
    width: 256px;
    margin-right: 42px;
}
.imgBlock {
    width: 100%;
    height: 356px;
    /* background-color: aquamarine; */
    border-radius: 20px;
}
.img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.blockLink {
    width: 100%;
    height: 56px;
    margin-top: 10px;
}
.FilmPage {
    display: flex;
}
.descriptionFilm {
    width: 59%;
    color: #fff;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.descr {
    margin-top: 50px;
    min-height: 100px;
}
.tableContent {
    margin-top: 50px;
}
.tableTd {
    min-width: 80px;
}
.wideowrapper {
    margin-top: 100px;
    width: 100%;
    height: 500px;
}
.wideo {
    width: 100%;
    height: 100%;
}
.deleteFilms {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: #323537;
    color: #fff;
    transition: 0.4s all;
}
.deleteFilms:hover {
    background-color: #7b61ff;
}
.FilmsComp {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: #323537;
    color: #fff;
    transition: 0.4s all;
}
.FilmsComp:hover {
    background-color: #7b61ff;
}
.Textarea {
    background-color: #323537;
    color: #fff;
    width: 100%;
    font-size: 20px;
    min-height: 200px;
    resize: none;
    overflow: hidden;
    border: none;
}
.Coments {
    margin-top: 200px;
    margin-bottom: 150px;
}
.CommentWrapper {
    /* min-height: 100px; */
    /* margin-top: 20px; */
    width: 100%;
}
.ComentsUser {
    min-height: 100px;
    background-color: #323537;
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}
.pagenation {
    text-align: center;
    color: #80858b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
}
.PagenationLink {
    margin-right: 7px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #80858b;
    text-decoration: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.PagenationLink:hover {
    color: #7b61ff;
}

.PagenationLinkLast {
    margin-right: 7px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #80858b;
    text-decoration: none;
    cursor: pointer;
}

.PagenationLinkActiv {
    margin-right: 7px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #7b61ff;
    text-decoration: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.arrow :hover {
    fill: #7b61ff;
}

.name {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    display: inline-block;
    color: #fff;
    font-size: 26px;
    background-color: #323537;
}
